/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GLOBALS */

html  {
 box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

img {
  max-width: 70em;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

body  {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  width: 100%;
}

.position-left  {
  float: left;
  position: relative;
  max-width: 50%;
}

.position-right {
  float: right;
  position: relative;
  max-width: 50%;
}

#scroll {
  overflow-y: scroll;
  height: 100%;
  padding: 0 1em 0 5em;
  position: absolute;
  max-width: 64em;
  border: solid pink 1px;
}

h1  {
  font-size: 2em;
}

p {
  text-indent: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #878787;
  transition-duration: 300ms;
}

/* ICON BAR */

#icons ul {
  margin: 0;
  padding: 0 2.5em;
  text-align: center;
  border: solid orange 1px;
}

#icons li {
  display: block;
  width: 20px:
}

/* BANNER */

.banner {
  clear: both;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: .75em;
  font-weight: 100;
  padding: 0 0;
  margin: 0;
}

.banner a {
  color: #fff;
}

.banner a:hover {
  color: #818181;
}

/* HEADER */

#home-title {
  border: solid green 1px;
  padding-top: .66em;

}

#home-title a:hover  {
  color: #000;
}

#home-nav ul {
  max-width: 100%;
  border: solid green 1px;
  padding: 2em 15em 0 0;
  font-size: smaller;
  font-weight: 200;
}

#home-nav li  {
  width: auto;
  padding-right: 4em;
  border: solid green 1px;
}

#page-intro {
  position: absolute;
  max-width: 25%;
  font-weight: normal;
  font-size: 2em;
  padding-top: 4em;
  z-index: 10;
  border: solid purple 1px;

}

#jael-jumbo {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: -10;
  border: solid teal 1px;
}

/* PAGE CONTENT */

.page-content {
  max-width: 100%;
  padding-top: 5em;
}
.page-content a {
  text-decoration: none;
  color: #000;
}

.page-content a:hover {
  color: #878787;
  transition-duration: 300ms;
}

.page-content #body-text  {
  padding: 0;
  border: solid red 1px;
}

.page-content #services {
  font-size: smaller;
  padding: 0;
  border: solid red 1px;
}

.page-content #services p {
  float: left;
  position: relative;
  padding: 0;
  text-indent: 0;
  border: solid green 1px;
}

.page-content #services ul {
  float: right;
  position: relative;
  max-width: 100%;
  padding: 0 6em;
  border: solid blue 1px;
}


/* PORTFOLIO */

#portfolio  {
  width: 58.5em;
  text-align: center;
  display: inline-block;
  border: purple solid 1px;
}

#portfolio .thumbnail  {
  max-width: 370px;
  max-height: 230px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: solid red 0.5em;
  z-index: -10;
  margin: 0;
  padding: 0;
}

#portfolio .thumbnail h2  {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
